* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0042bd;
    text-align: center;
}

.logo>a {
    text-decoration: none;
    color: #0042bd;
    font-size: 2em;
    text-shadow: 3px 3px 3px #6c9fff;
}

nav {
    margin-top: 10px;
}

nav ul {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav>ul>li>a:hover {
    border: 1px solid #0042bd;
    padding: 8px;
    background-color: #0042bd;
}

.hero {
    padding: 60px 20px;
    background-color: #0042bd;
    color: #000;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section1 {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #0042bd;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.section2 {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.section p {
    font-size: 16px;
}

footer {
    background-color: #111;
    color: #ccc;
    padding: 30px 20px;
    text-align: center;
}