/* */
* {
    margin: 0;
    padding: 0;
}

:root {
    --azul: #127ab6;
    --azul2: #095c91;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(202, 202, 202);
}

/* Header */

header {
    background-color: var(--azul2);
    border-radius: 20px;
    max-width: 1400px;
    margin: auto;
    margin-top: 8px;
    box-shadow: 3px 3px 3px black;

}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
}

.logo>a {
    color: white;
    text-decoration: none;
}

nav {
    padding: 10px;
}

nav>ul {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    list-style: none;

}

nav>ul>li>a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

nav>ul>li>a:hover {
    background-color: ;
    border-radius: 10px;
    padding: 5px;
}

/* Main */

#bem-vindo {
    background-image: url(fotos/homenmalhando.png);
    background-attachment: local;
    background-size: 900px 300px;
    background-position: center;
    height: 200px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#bem-vindo>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    color: white;
    text-align: center;
}

#bem-vindo>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

#bem-vindo:hover {
    border: 2px solid var(--azul);
}

.section1 {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.section1>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: justify;
    padding: 20px
}

.section1>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-align: justify;
}

.section1:hover {
    border: 2px solid black;
}

.section2 {
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.section2>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: justify;
    padding: 20px
}

.section2>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-align: justify;
}

.section2:hover {
    border: 2px solid var(--azul);
}

/* Planos */

#planos {
    background-color: var(--azul);
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#planos>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    color: white;
    text-align: center;
    padding: 10px;
}

#planos>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 10px;
}

#divplanos {
    background-color: var(--azul2);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    gap: 50px;
    border-radius: 20px;
}

.itemplanos {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-flow: column;
    width: 200px;
    padding: 20px;
    transition: transform 0.3s ease;
    border: 1px solid black;
    border-radius: 10px;
}

.itemplanos>h1 {
    background-color: var(--azul);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.itemplanos>ul>li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000000;
    padding: 3px;
    padding-top: 7px;
}

.itemplanos>p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4em;
    color: goldenrod;
    text-align: center;
    padding-top: 20px;
}

.itemplanos:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #000000;
}

/* Atividades */

#horarios {
    background-color: var(--azul);
}

#horarios>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#horarios>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: justify;
    padding: 10px;
}

#divatividades {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    gap: 50px;
    border-radius: 20px;
}

.itematividade {
    height: 200px;
    width: 200px;
}

/* serviços */

#servicos {
    background-color: var(--azul);
}

#servicos>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#servicos>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: justify;
    padding: 10px;
}

#divservico {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin: 20px 20px;
    gap: 50px;
}

.itemservico {
    background-color: red;
    height: 200px;
    width: 200px;
    transition: transform 0.3s ease;
}

.itemservico:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #0042bd
}

/* unidades */

#unidades {
    background-color: var(--azul);
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#unidades>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#unidades>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#divunidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 20px;
    gap: 45px;
}

.itemunidades {
    background-color: var(--azul);
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 5px black;
}

.itemunidades>img {
    height: 400px;
    width: 650px;
}

.itemunidades:hover {
    transform: translateY(-5px);

}

/* contatos */

#contato {
    background-color: #0042bd;
}

#contato>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#contato>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*footer */

footer {
    background-color: #111;
    font-family: ;
    font-size: ;
    color: #ccc;
    text-align: center;
    margin-top: 20px;
    padding: 30px 20px;
}