* {
    margin: 0;
    padding: 0;
}

body {}

/* Header */

header {
    border-radius: 0px;
    margin-top: 0px;
}

.logo {}

.logo>a {}

nav {}

nav>ul {}

nav>ul>li>a {}

nav>ul>li>a:hover {}

/* Main */

#bem-vindo {
    border-radius: 0;
}

#bem-vindo>h2 {
    font-size: 1.6em;
}

#bem-vindo>p {
    font-size: 1em;
}

.section1 {
    border-radius: 0;
}

.section1>h2 {
    font-size: 1.6em;
    text-align: center;
}

.section1>p {
    font-size: 1em;
}

.section2 {
    border-radius: 0;
}

.section2>h2 {
    font-size: 1.6em;
    text-align: center;
}

.section2>p {
    font-size: 1em;
    text-align: justify;
}

/* Planos */

#planos {
    border-radius: 0;
}

#planos>h1 {
    font-size: 1.6em;
}

#planos>p {
    font-size: 1em;
}

#divplanos {
    border-radius: 0;
}

.itemplanos {}

.itemplanos>h1 {
    font-size: 1.6em;
    padding: 1px;
}

.itemplanos>ul>li {
    font-size: 1em;
}

.itemplanos>p {
    font-size: 1.4em;
}

.itemplanos:hover {
   
}

/* Atividades */

#horarios {
    background-color: #0042bd;
}

#horarios>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#horarios>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: justify;
    padding: 10px;
}

#divatividades {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    gap: 50px;
    border-radius: 20px;
}

.itematividade {
    background-color: #0042bd;
    height: 200px;
    width: 200px;
}

/* serviços */

#servicos {
    background-color: #0042bd;
}

#servicos>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#servicos>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: justify;
    padding: 10px;
}

#divservico {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin: 20px 20px;
    gap: 50px;
}

.itemservico {
    background-color: red;
    height: 200px;
    width: 200px;
    transition: transform 0.3s ease;
}

.itemservico:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #0042bd
}

/* unidades */

#unidades {
    background-color: #0042bd;
}

#unidades>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#unidades>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#divunidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 20px;
    gap: 50px;
}

.itemunidades {
    background-color: #0042bd;
    height: 400px;
    width: 600px;
    transition: transform 0.3s ease;
}

.itemunidades:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #0042bd
}

/* contatos */

#contato {
    background-color: #0042bd;
}

#contato>h1 {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#contato>p {
    font-family: ;
    font-size: ;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*footer */

footer {
    background-color: #111;
    font-family: ;
    font-size: ;
    color: #ccc;
    text-align: center;
    margin-top: 20px;
    padding: 30px 20px;
}